/*
* R2 (Responsive Table) CSS Documentation
* 05/22/2021
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Utilities
- Custom Styles
    -- table
    -- table__head
    -- table__body
- Animations
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--light-color: #fff;
	--dark-border: #d4d7dae0;
	--dark-color: #f0f0f0;
}
/* NOTE
html is set to 62.5% so that all the REM are based on 10px sizing. So basically 1.6rem = 16px */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #1e3c72, #2a5298);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	height: 100%;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	max-width: 1200px;
	width: 95%;
	margin: 20rem auto 0 auto;
}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* -- Table */
.table-bg {
    padding: 2rem;
    background-color: var(--light-color);
    border-radius: 10px;
	overflow: auto;
}
.table__title {
    margin-bottom: 10px;
	animation: fadeIn 0.8s forwards;
	text-align: center;
}

.table {
	table-layout: auto;
	border-spacing: 0;
	width: 100%;
	border: 1px solid var(--dark-border);
	animation: fadeIn 0.8s forwards;
	white-space: nowrap;
}

td,
th {
	padding: 0.5rem;
	border: 1px solid var(--dark-border);
}

/* -- Table__head */
.table .table__head {
	font-weight: bold;
	text-align: left;
	background-color: #111827;
	color: var(--light-color);
}

.table .table__head th {
	width: calc(100% / 6);
	position: relative;

}

.table .table__head i {
    display: inline-block;
	cursor: pointer;
}

/* -- Table__body */
.table__body tr {
    transition: background-color ease .5s;
}

.table__body tr:nth-child(2n + 1) {
	background-color: var(--dark-color);
}
.table__body tr:nth-child(2n + 2) {
	background-color: var(--light-color);
}

.table__body tr:hover {
    background-color: skyblue;
}

@media (min-width: 768px) {
	body {
		font-size: 1.6rem;
	}
	td,
	th {
		padding: 1rem;
	}
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@keyframes fadeIn {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
